<ion-view>
    <ion-nav-title>
        Chat
    </ion-nav-title>
    <ion-content>
        <div class="bubble" ng-repeat="item in messages">
            <div ng-class="{'message': true, 'idrd': personas_idrd.indexOf(item.idPersona) > -1 }">
                <div ng-if="personas_idrd.indexOf(item.idPersona) < 0" class="row">
                    <div class="col col-20 col-top">
                        <div class="avatar">
                            <img src="img/no-photo.png">
                        </div>
                    </div>
                    <div class="col col-80">
                        <h5>{{ item.nombre }}</h5>
                        <p>
                            {{ item.mensaje }} <br />
                            <small>{{ item.hora  | dateToISO | date: "d 'de' MMMM 'de' y | h:mm a" }}</small>
                        </p>
                    </div>
                </div>
                <div ng-if="personas_idrd.indexOf(item.idPersona) > -1" class="row">
                    <div class="col col-80">
                        <h5>{{ item.nombre }}</h5>
                        <p>
                            {{ item.mensaje }} <br />
                            <small>{{ item.hora  | dateToISO | date: "d 'de' MMMM 'de' y | h:mm a" }}</small>
                        </p>
                    </div>
                    <div class="col col-20 col-top">
                        <div class="avatar">
                            <img src="img/ciclovia.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Mensaje" ng-model="message">
        </label>
        <button class="button button-clear idrd-font-default" ng-click="enviarMensaje()">
            <i class="ion-paper-airplane"></i>
        </button>
    </ion-footer-bar>
</ion-view>
