<ion-view>
    <ion-nav-title>
        Corredor vial
    </ion-nav-title>
    <ion-content scroll="false">
        <div id="mapa" style="width:100%; height:100%; background-color:rgba(0,0,0,0) !important;">
	    	<div class="controles-mapa">
	    		<div class="row">
					 <div class="col">
					 	<label class="item item-input item-select">
		    				<select name="corredor" ng-model="corredor" ng-options="option.nombreCorredor for option in corredores track by option.idCorredor" ng-change="enfocar(corredor)">
		    					<option value="">Selecciona un corredor</option>
		    				</select>
						</label>
					 </div>
	    		</div>
				<div class="tabs tabs-icon-top" >
				  <a class="tab-item" ng-click="touch('alimentos')">
				    <i class="icon ion-fork"  ng-class="{'activated': alimentos}"></i>
				    <span>Alimentos</span>
				  </a>
				  <a class="tab-item" ng-click="touch('ciclotaller')">
				    <i class="icon ion-wrench" ng-class="{'activated': ciclotaller}"></i>
				    <span>Ciclotaller</span>
				  </a>
				  <a class="tab-item" ng-click="touch('accesorios')">
				    <i class="icon ion-filing" ng-class="{'activated': accesorios}"></i>
				    <span>Accesorios</span>
				  </a>
				</div>
	    	</div>
        </div>
    </ion-content>
</ion-view>
