<ion-view>
    <ion-nav-title>
        Corredor vial
    </ion-nav-title>
    <ion-content scroll="false">
        <div id="mapa" style="width:100%; height:100%; background-color:#000 !important;">
	    	<div class="controles-mapa">
	    		<div class="row">
					 <div class="col">
					 	<label class="item item-input item-select">
		    				<select name="corredor" ng-model="corredor" ng-options="option.nombreCorredor for option in corredores track by option.idCorredor" ng-change="enfocar(corredor)">
		    					<option value="">Selecciona un corredor</option>
		    				</select>
						</label>
					 </div>
	    		</div>
				<div class="tabs tabs-icon-top" ng-click="alerta()">
				  <a class="tab-item">
				    <i class="icon ion-fork"></i>
				    Alimentos
				  </a>
				  <a class="tab-item">
				    <i class="icon ion-wrench"></i>
				    Ciclotaller
				  </a>
				  <a class="tab-item">
				    <i class="icon ion-filing"></i>
				    Accesorios
				  </a>
				</div>
	    	</div>
        </div>
    </ion-content>
</ion-view>
