<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-controller="MenuCtrl" data-ng-hide="hideLeft">
    <ion-header-bar class="bar-stable">
      <h1 class="title">
          <small>IDRD</small>  Ciclovia 
      </h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/noticias">
            <div class="row">
                <div class="col center">
                    <i class="ion-document-text"></i>
                </div>
                <div class="col col-75">
                    <p>Noticias</p>
                </div>
            </div>
        </ion-item>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/eventos">
            <div class="row">
                <div class="col center">
                    <i class="ion-calendar"></i>
                </div>
                <div class="col col-75">
                    <p>Eventos</p>
                </div>
            </div>
        </ion-item>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/chat">
            <div class="row">
                <div class="col center">
                    <i class="ion-chatboxes"></i>
                </div>
                <div class="col col-75">
                    <p>Chat</p>
                </div>
            </div>
        </ion-item>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/corredores">
            <div class="row">
                <div class="col center">
                    <i class="ion-map"></i>
                </div>
                <div class="col col-75">
                    <p>Corredor vial</p>
                </div>
            </div>
        </ion-item>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/recomendaciones">
            <div class="row">
                <div class="col center">
                    <i class="ion-lightbulb"></i>
                </div>
                <div class="col col-75">
                    <p>Recomendaciones</p>
                </div>
            </div>
        </ion-item>
      </ion-list>
    </ion-content>
  <div ng-controller="MediaCtrl" class="social-networks">
      <span>Síguenos en:</span> 
      <a href="https://www.facebook.com/CicloviaBogotaIDRD" onclick="window.open(this.href, '_system', 'location=no'); return false;"><img src="img/ic-facebook.png" alt="" height="30px"></a>&nbsp;
      <a href="https://twitter.com/CicloviaBogota" onclick="window.open(this.href, '_system', 'location=no'); return false;"><img src="img/ic-twitter.png" alt="" height="30px"></a>&nbsp;
      <!--<a href="https://www.youtube.com/user/cicloviaforo" onclick="window.open(this.href, '_system', 'location=no'); return false;"><img src="img/ic-youtube.png" alt="" height="30px"></a>-->
      <a href ng-click="play()" ng-if="!status"><img src="img/ic-song.png" alt="" height="30px"></a>
      <a href ng-click="stop()" ng-if="status"><img src="img/ic-stop.png" alt="" height="30px"></a>
  </div>
  </ion-side-menu>
</ion-side-menus>