<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-controller="MenuCtrl" data-ng-hide="hideLeft">
    <ion-header-bar class="bar-stable">
      <h1 class="title">
          <small>IDRD</small>  Ciclovia 
      </h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/noticias">
            <div class="row">
                <div class="col center">
                    <i class="ion-document-text"></i>
                </div>
                <div class="col col-75">
                    <p>Noticias</p>
                </div>
            </div>
        </ion-item>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/chat">
            <div class="row">
                <div class="col center">
                    <i class="ion-chatboxes"></i>
                </div>
                <div class="col col-75">
                    <p>Chat</p>
                </div>
            </div>
        </ion-item>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/corredores">
            <div class="row">
                <div class="col center">
                    <i class="ion-map"></i>
                </div>
                <div class="col col-75">
                    <p>Corredor vial</p>
                </div>
            </div>
        </ion-item>
        <ion-item menu-toggle="left" class="no-border" href="#/ciclovia/mapa">
            <div class="row">
                <div class="col center">
                    <i class="ion-pie-graph"></i>
                </div>
                <div class="col col-75">
                    <p>Mis recorridos</p>
                </div>
            </div>
         </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
