/*color idrd #02a7eb*/ 
body.menu-open .menu.menu-left {
    display: block;
}

.menu.menu-left {
    display: none;
}

.menu .scroll-content {
    background: /*url(../img/street.jpg) no-repeat -1260px -944px fixed;*/ #02a7eb;
}

.menu .bar-header {
    background: /*url(../img/street.jpg) no-repeat -1260px -900px fixed;*/ #02a7eb;
}

.menu .bar-header h1,
.menu .bar-header h1 small {
    background-color: rgba(255,255,255,.01) !important;
    text-shadow: 0px 1px 1px #666;
    color: #fff !important;
}

.menu .bar-header h1 {
    text-align: center !important;
}

.bar-stable * {
    color: #02a7eb !important;
}

.list .item {
    background-color: rgba(255,255,255,.01) !important;
}

.item-content {
    background-color: transparent !important;
    padding: 5px 10px !important;
}

.item-content * {
    color: #fff !important;
    text-shadow: 0px 1px 1px #666;
}

.item-content i {
    font-size: 25px;
}

.item-content p {
    line-height: 25px;
}

.center {
    text-align:center;
}

.has-error {
    border-bottom: 1px solid #ff0000;
}

.no-border {
    border: none !important;
}

.idrd-font-color {
    color: #02A7EB !important;
}

/*Chat*/
.bubble .avatar {
    text-align: center;
}

.item-avatar img,
.bubble .avatar img {
    border: 1px solid #ccc;
}

.bubble .avatar img {
    width: 90%;
    max-width: 80px;
    border-radius: 50%;
}

.bubble .message .col-80 {
    box-shadow: 0px 1px 1px #bbb;
    border-radius: 10px;
}

.bubble .message .col-80 {
    background-color: #fafafa;
}
.bubble .message.idrd .col-80 {
    background-color: #02a7eb;
}
.bubble .message.idrd .col-80 * {
    color: #fff;
}

.bubble .message .col-80 p {
    font-size: 12px;
    color: #333;
}

.bubble .message .col-80 p small {
    font-size: 9px;
    opacity: .7;
}