/*color idrd #02a7eb*/ 

.menu .scroll-content {
    background: #02a7eb;
    overflow-y: auto;
}

.menu .bar-header {
    background: #02a7eb;
}

.menu .bar-header h1,
.menu .bar-header h1 small {
    background-color: rgba(255,255,255,.01) !important;
    text-shadow: 0px 1px 1px #666;
    color: #fff !important;
}

.menu .bar-header h1 {
    text-align: center !important;
}

.bar-stable * {
    color: #02a7eb !important;
}

.list .item {
    background-color: rgba(255,255,255,.01) !important;
}

.item-content {
    background-color: transparent !important;
    padding: 5px 10px !important;
}

.item-content * {
    color: #fff !important;
    text-shadow: 0px 1px 1px #666;
}

.item-content i {
    font-size: 25px;
}

.item-content p {
    line-height: 25px;
}

.center {
    text-align:center;
}

.has-error {
    border-bottom: 1px solid #ff0000;
}

.no-border {
    border: none !important;
}

.circle {
    border-radius: 50%;
}

.idrd-font-color {
    color: #02a7eb !important;
}

.idrd-font-default {
    color: #aaaaaa !important;
}

/*chat*/
.bubble .avatar {
    text-align: center;
}

.item-avatar img,
.bubble .avatar img {
    border: 1px solid #ccc;
}

.bubble .avatar img {
    width: 90%;
    max-width: 80px;
    border-radius: 50%;
}

.bubble .message .col-80 {
    box-shadow: 0px 1px 1px #bbb;
    border-radius: 10px;
}

.bubble .message .col-80 {
    background-color: #fafafa;
}
.bubble .message.idrd .col-80 {
    background-color: #02a7eb;
}
.bubble .message.idrd .col-80 * {
    color: #fff;
}

.bubble .message .col-80 p {
    font-size: 12px;
    color: #333;
}

.bubble .message .col-80 p small {
    font-size: 9px;
    opacity: .7;
}

/*bicicorredores*/
.controles-mapa {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    height: 100px;
    background-color: rgba(255,255,255,.95);
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 7px #DDD;
}

.controles-mapa label {
    height: 35px;
    border: none;
}

.controles-mapa label select {
    height: 35px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    direction: ltr;
}

.controles-mapa .tabs {
    background-color: rgba(0,0,0,0);
}

.controles-mapa .tabs .icon {
    font-size: 20px;
    line-height: 32px;
}

.icon.activated,
.icon.activated + span
{
  color: #02a7eb;
}